.info-section{
    margin: auto;
    overflow-y: auto;
    display: block;
    float: center;
    width: 70%;
}

.info-title{
    text-align: center;
}

.detail-hover:hover{
    cursor: pointer;
}

.info-body{
    text-align: start;
}