.profile {
    width: 150px;
    height: 150px;
    border-radius: 25%;
}

.not-full {
    width: 80%;
}

.vertical {
    border-left:1px solid rgb(139, 139, 139);
    height:350px
}

hr {
    background-color: rgb(139, 139, 139);
}