.player-small {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: auto;
}

.chat {
    width:50%;
    height: 200px;
}

.display {
    height: 85%;
}

.vote {
    width: 10%;
}

.send {
    float: right;
}

.pad-img {
    padding: 1% 1% 1% 1%;
    margin: 3% 3% 3% 3%;
}

.left-imgs{
    align-items: left;
}

.right-imgs{
    align-items: right;
}