.summary-padding {
    padding: 0 14px 4px 14px;
}

.stats-table {
    justify-content: center;
}

.page-history-toggle{
    padding: 0!important;
    text-decoration: none;
    color: blue;
}

.page-history-toggle:hover {
    cursor: pointer;
    text-decoration: none;
    
}